open_saves_cloud: "gcp"
open_saves_bucket: ""
open_saves_project: ""
log_level: "info"
shutdown_grace_period: "5s"
cache_default_ttl: "5m"

redis_address: "localhost:6379"
redis_mode: "single"
redis_min_idle_conns: 500
redis_pool_size: 10000
redis_idle_timeout: 0
redis_max_conn_age: 0
redis_max_retries: 3
redis_min_retry_backoff: "8ms"
redis_max_retry_backoff: "512ms"

blob_max_inline_size: 65536

grpc_keepalive_max_connection_idle: "5m"
grpc_keepalive_max_connection_age: "12h"
grpc_keepalive_max_connection_age_grace: "5m"
grpc_keepalive_time: "1h"
grpc_keepalive_timeout: "20s"

enable_trace: false
enable_grpc_collector: false
trace_service_name: "open-saves"
trace_sample_rate: 0.00
