open_saves_port: 6000
open_saves_cloud: "gcp"
open_saves_bucket: ""
open_saves_project: ""
log_level: "info"

redis_address: "localhost:6379"
redis_max_idle: 500
redis_pool_size: 10000
redis_idle_timeout: 0
redis_max_retries: 3
redis_min_retry_backoff: "8ms"
redis_max_retry_backoff: "512ms"